.row.day1 {
  background-color: rgb(3, 51, 54);
}

.weatherIcon {
  font-size: 42px;
  box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.3);
}

.weatherIcon canvas {
  vertical-align: middle;
}

.weekday {
  font-weight: bold;
}
